acl-roleform-role: role
acl-roleform-role-required: toto pole je povinné
acl-roleform-save: uložit

acl-resourceform-resource: zdroj
acl-resourceform-role-required: toto pole je povinné
acl-resourceform-save: uložit

acl-privilegeform-privilege: oprávnění
acl-privilegeform-role-required: toto pole je povinné
acl-privilegeform-save: uložit

acl-aclform-all: vše
acl-aclform-save: uložit
