acl-role-form#role: "role"
acl-role-form#role-required: "toto pole je povinné"
acl-role-form#save: "uložit"

acl-resource-form#resource: "zdroj"
acl-resource-form#resource-required: "toto pole je povinné"
acl-resource-form#save: "uložit"

acl-privilege-form#privilege: "oprávnění"
acl-privilege-form#privilege-required: "toto pole je povinné"
acl-privilege-form#save: "uložit"

acl-acl-form#all: "vše"
acl-acl-form#save: "uložit"
