<br>
role<br>
<br>

{if $state=='add' || $state=='update'}
    <a n:href="this">back</a>
    <br>
    {control form}
{else}
    <a n:href="Add!">add role</a><br>
    list:<br>
    {foreach $role as $item}
        {$getValue($item['role'])}
        <a n:href="Update! $item['id']">update</a>
        <a onclick="return confirm('Delete {$item['role']}?')" n:href="Delete! $item['id']">delete</a><br>
    {/foreach}
{/if}
